﻿@model WorldBuilder.Models.Image
@{
    ViewBag.Title = "Add Image";
}

<h1>Add Image</h1>
@using (Html.BeginForm("AddImage/", "World", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="editor-label">
        <label for="file">Select Image: </label>
    </div>
    <div class="editor-field">
        <input id="ImagePath" title="Upload a product image" type="file" name="file" />
    </div>
    <input type="hidden" value="@Url.RequestContext.RouteData.Values["id"]" name="WorldId" />
    <p><input type="submit" value="Add Image" /></p>
}
<div>
    @* Back to WorldDetails/id *@
    @* https://stackoverflow.com/questions/979532/how-to-get-the-current-route-id-within-a-view-from-the-url-asp-net-mvc *@
    @Html.ActionLink("Back to your world", "WorldDetails/" + Url.RequestContext.RouteData.Values["id"], "World", null, null)
</div>

