﻿@model WorldBuilder.Models.World

@{
    ViewBag.Title = "Add World";
}

<div>
    <h1>Add World</h1>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <form method="POST" action="/World/AddWorld" class="form">

        <div class="form__group">
            <span class="text-danger">*</span><label class="form__label col-form-label" for="form__worldNameInput">World Name: </label>
            @Html.EditorFor(model => model.WorldName, new { htmlAttributes = new { @class = "form-control", @id = "form__worldNameInput" } })
            @Html.ValidationMessageFor(model => model.WorldName, "", new { @class = "text-danger" })
        </div>
        <div class="form__group">
            <span class="text-danger">*</span><label class="form__label col-form-label" for="form__worldOverview">World Overview: </label>
            @Html.EditorFor(model => model.WorldOverview, new { htmlAttributes = new { @class = "form-control", @id = "form__worldOverview" } })
            @Html.ValidationMessageFor(model => model.WorldOverview, "", new { @class = "text-danger" })
        </div>
        @* Get the id query string from the url and insert into the table using a hidden field. There's probably a better way to do this... *@
        <input type="hidden" value="@Url.RequestContext.RouteData.Values["id"]" name="CreatorId" />
        <div class="form__group">
            @Html.AntiForgeryToken()
            <input type="submit" value="Create World" class="mt-3" />
        </div>
    </form>
</div>
