﻿@model WorldBuilder.Models.World
@{
    ViewBag.Title = "World Details";
}

<body>
    <div>
        <h1>@Html.DisplayFor(model => model.WorldName)</h1>
        <span>
            @Html.ActionLink("View Creator", "CreatorProfile/" + Model.Creator.CreatorId, "Creator") |
            @Html.ActionLink("Add Image", "AddImage/" + Model.WorldId, "World") |
            @Html.ActionLink("Edit", "EditWorld/" + Model.WorldId, new { worldid = Model.WorldId }) |

        </span>

        <div class="container m-lg-3">
            <nav>
                <div class="nav nav-tabs rounded-0" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-worldOverview-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-worldOverview" aria-selected="true">Overview</a>
                    <a class="nav-item nav-link" id="nav-gallery-tab" data-toggle="tab" href="#nav-gallery" role="tab" aria-controls="nav-gallery" aria-selected="false">Gallery</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                @* PROFILE TAB *@
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-worldOverview-tab">
                    <div class="jumbotron border-0">
                        <table class="mt-4">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>@Html.DisplayFor(model => model.WorldOverview)</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                @*GALLERY TAB*@
                <div class="tab-pane fade" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab">
                    @foreach (var image in Model.Images)
                    {

                        @* Create dynamic link to the creator's profile view *@
                        @*https://stackoverflow.com/questions/9584673/html-actionlink-and-html-displayfor-at-the-same-time-not-right-but-it-descri*@
                        <img src="@Url.Content("~/Images/" + image.ImagePath)" alt="Images" />
                    }
                </div>
            </div>
        </div>

    </div>
</body>
