﻿@model WorldBuilder.Models.Creator

@{
    ViewBag.Title = "Creator Profile";
}

<div class="mt-lg-3">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>@Html.DisplayFor(model => model.CreatorDispName)</h1>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "EditCreator", new { id = Model.CreatorId }) |
                    @Html.ActionLink("Delete", "DeleteCreator", new { id = Model.CreatorId }) |
                    @Html.ActionLink("Add World", "AddWorld", "World", new { id = Model.CreatorId }, new { })

                    @*@Html.ActionLink("linkText", "actionName", "controllerName",
                        new { /* routeValues forexample: id = 6 or leave blank or use null */ },
                        new { /* htmlAttributes forexample: @class = "my-class" or leave blank or use null */ })*@
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="container m-lg-3">
        <nav>
            <div class="nav nav-tabs rounded-0" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active bg-info" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                <a class="nav-item nav-link" id="nav-worlds-tab" data-toggle="tab" href="#nav-worlds" role="tab" aria-controls="nav-worlds" aria-selected="false">Worlds</a>
                <a class="nav-item nav-link" id="nav-gallery-tab" data-toggle="tab" href="#nav-gallery" role="tab" aria-controls="nav-gallery" aria-selected="false">Gallery</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            @* PROFILE TAB *@
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="jumbotron border-0 bg-info">
                    <table class="mt-4">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Creator Name: </strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CreatorFName) @Html.DisplayFor(model => model.CreatorLName)
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Country of Origin</strong></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.CreatorOriginCountry)</td>
                            </tr>
                            <tr>
                                <td><strong>Bio</strong></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.CreatorBio)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @* WORLD TAB *@
            <div class="tab-pane fade" id="nav-worlds" role="tabpanel" aria-labelledby="nav-worlds-tab">
                @foreach (var world in Model.Worlds)
                {

                    @* Create dynamic link to the creator's profile view *@
                    @*https://stackoverflow.com/questions/9584673/html-actionlink-and-html-displayfor-at-the-same-time-not-right-but-it-descri*@
                    @Html.ActionLink(world.WorldName, "WorldDetails/" + world.WorldId, "World") @Html.ActionLink("Delete", "DeleteWorld", new {id = world.WorldId})
                    <br />

                }
            </div>

            @*GALLERY TAB*@
            <div class="tab-pane fade" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab">...</div>
        </div>
    </div>
</div>