﻿@model IEnumerable<WorldBuilder.Models.Creator>
@* Referenced from Christine's Code *@

@{
    ViewBag.Title = "Creator List";
}

<div>
    <h1>@ViewBag.Title</h1>
    @* Create a table for displaying creators *@
    <table class="table">
        <tr>
            <th>
                @* Only display creator's display name in the list view. *@
                Creator Display Name
            </th>
        </tr>

        @* Foreach loop to loop through Creator List. Again, referenced Christine's code *@
        @foreach (var creator in Model)
        {
        <tr>
            <td>
                @* Create dynamic link to the creator's profile view *@
                @*https://stackoverflow.com/questions/9584673/html-actionlink-and-html-displayfor-at-the-same-time-not-right-but-it-descri*@
                <a href="@Url.Action("CreatorProfile", "Creator", new { id=creator.CreatorId})">
                    @Html.DisplayFor(modelItem => creator.CreatorDispName)
                </a>
            </td>
        </tr>
        }
    </table>

</div>

