﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to World Builder</h1>
    <p class="lead">This website is a convenient tool for those interested in building a fictional world.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build your world's story</h2>
        <p>
           What's in your world? Who lives in it? What's the history? Organize the lore of your world using World Builder!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Organize Assets</h2>
        <p>Add assets to accompany the description of your world to add some life to your story.</p>
    </div>
    <div class="col-md-4">
        <h2>Create multiple worlds</h2>
        <p>Got too many ideas? Then don't just stick to one - add as many world as you like!</p>
    </div>
</div>